In [38]:
import pandas as pd
import numpy as np
from Pachaches.functions import clean_PM25frame_coloumns
import matplotlib.pyplot as plt

In [40]:
#imporing PM2.5 dataset
PM25=pd.read_excel(r"\\192.168.1.59\Data\COPSAC-2000\PM2.5\PM2.5_Rådata-kalibrerede datat fra CP.xls",sheet_name="PM2.5 rådata")

In [41]:
#imporing chemical dataset 
chem=pd.read_excel(r"\\192.168.1.59\UserFolders\michael.forsmann\Data_library\Carbonyl_NOX_NYT_SKEMA\070511_CarbNOx_FINAL_mean_051111.xls")

In [43]:
chem=clean_PM25frame_coloumns(chem)
chem=chem.replace(",",".",regex=True).rename(columns={"no2_(μg/m3)":"no2","no_(μg/m3)":"Nox","formald_(μg/m3)":"formaldehyd","acetald_(μg/m3)":"acetald","acetone_(μg/m3)":"acetone"})

In [85]:
PM25

,fnr,bnr,vejnvn,husn,sadto,flow,postnr,pm_final,sv_final,adrnum,maalnr
0,9,1,Høgevej,8,2000-07-05,4.07,4683,3.747515,0.162272,1,1
1,66,1,Høgevej,8,2000-12-12,3.75,4683,13.850762,3.059650,1,2
2,340,1,Høgevej,8,2001-07-14,4.22,4683,6.937794,0.342990,1,3
3,7,3,Peter Sabroesgade,25,2000-07-05,3.78,2450,83.668164,0.961510,1,1
4,71,3,Peter Sabroesgade,25,2000-12-12,3.74,2450,59.950123,1.789893,1,2
...,...,...,...,...,...,...,...,...,...,...,...
1117,1229,450,Bavnehøj Park,23,2003-05-27,3.96,3500,13.039686,0.562392,1,3
1118,677,451,Vangedevej,226A,2002-04-05,3.88,2860,23.291217,1.544408,1,1
1119,649,452,CT Barfoeds Vej,3,2002-03-10,3.92,2000,18.355211,1.032809,1,1
1120,926,452,CT Barfoeds Vej,3,2002-10-19,4.05,2000,19.422368,2.665289,1,2
1121,1157,452,CT Barfoeds Vej,3,2003-03-05,4.10,2000,20.405454,1.082070,1,3

In [52]:
sample_time=((chem["stop_c"]-chem["start_c"]).dropna().to_numpy()*10**(-9)/(60*60*24*7)).astype(float)
chem_2=chem.loc[chem["stop_c"].isna()==0,:].assign(sample_time=sample_time)
chem_2["stop_c"].loc[sample_time>40]=(chem_2.loc[sample_time>40]["stop_c"]+pd.offsets.DateOffset(years=1))
chem_2["stop_c"].loc[sample_time<0]=(chem_2.loc[sample_time<0]["stop_c"]+pd.offsets.DateOffset(years=1))
sample_time=((chem_2["stop_c"]-chem_2["start_c"]).to_numpy()*10**(-9)/(60*60*24)).astype("float")
chem_2=chem_2.assign(sample_time=sample_time)

C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\2168198671.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2["stop_c"].loc[sample_time>40]=(chem_2.loc[sample_time>40]["stop_c"]+pd.offsets.DateOffset(years=1))
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\2168198671.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2["stop_c"].loc[sample_time>40]=(chem_2.loc[sample_time>40]["stop_c"]+pd.offsets.DateOffset(years=1))
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\2168198671.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2["stop_c"].loc[sample_time<0]=(chem_2.loc[sample_time<0]["stop_c"]+pd.offsets.DateOffset(years=1))
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\2168198671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2["stop_c"].loc[sample_time<0]=(chem_2.loc[sample_time<0]["stop_c"]+pd.offsets.DateOffset(years=1))

In [54]:
adress=PM25.VEJNVN.values+" "+PM25.HUSN.values.astype(str)+", "+PM25.postnr.values.astype(str)+", Denmark"

In [56]:
PM25=clean_PM25frame_coloumns(PM25)

In [58]:
#cahnge chem_2 to numerical values to make it comperable to pm2.5
chem_2.visit[chem_2.visit=="6mdr"]=1
chem_2.visit[chem_2.visit=="12mdr"]=2
chem_2.visit[chem_2.visit=="1yr"]=2
chem_2.visit[chem_2.visit=="18mdr"]=3
chem_2.visit[chem_2.visit==18]=3
chem_2.visit[chem_2.visit=="2yr"]=4
chem_2.visit[chem_2.visit=="30mdr"]=5

C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="6mdr"]=1
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="6mdr"]=1
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="12mdr"]=2
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="12mdr"]=2
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="1yr"]=2
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="1yr"]=2
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="18mdr"]=3
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="18mdr"]=3
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit==18]=3
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit==18]=3
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="2yr"]=4
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="2yr"]=4
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  chem_2.visit[chem_2.visit=="30mdr"]=5
C:\Users\michael.forsmann\AppData\Local\Temp\ipykernel_17464\514351737.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chem_2.visit[chem_2.visit=="30mdr"]=5

In [76]:
chem_21

,cpnr,visit,batch_c,start_c,stop_c,batch_n,start_n,stop_n,no2,Nox,formaldehyd,acetald,acetone,sample_time,week
0,1,1,Batch1,1999-09-02,1999-11-04,Batch 2,1999-04-20,1999-07-04,7.8,6.3,18.80,6.50,20.00,63.0,35
2,1,2,Batch4,2000-03-21,2000-05-26,Batch 11,2000-03-16,2000-05-26,6.5,1.7,14.70,7.00,21.40,66.0,12
3,1,3,Batch28,2001-06-20,2001-09-10,Batch 45,2001-06-20,2001-09-10,11.6,4.3,17.57,4.93,7.34,82.0,25
6,3,3,Batch4,2000-02-25,2000-06-12,Batch 11,2000-02-25,2000-06-12,17.6,19,23.60,6.10,6.50,108.0,8
7,3,4,Batch11,2000-09-27,2000-12-13,Batch 18,2000-09-27,2000-12-13,16.7,23.9,25.20,20.30,19.50,77.0,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,450,1,Batch54,2002-05-23,2002-08-06,Batch 95,2002-05-23,2002-08-06,5.5,NaN,20.81,0.56,0.36,75.0,21
1404,450,2,Batch67,2002-12-16,2003-03-12,Batch 121,2002-12-16,2003-03-12,5.3,8.2,28.79,1.72,1.88,86.0,51
1405,450,3,Batch73,2003-06-29,2003-09-16,Batch 132,2003-06-29,2003-09-16,3.8,4.3,20.92,0.61,0.85,79.0,26
1407,452,1,Batch59,2002-08-04,2002-10-13,Batch 105,2002-08-04,2002-10-13,10.8,9.4,13.80,2.75,2.24,70.0,31
1408,452,2,Batch71,2003-04-29,2003-07-03,Batch 129,2003-04-29,2003-07-03,12.3,10.1,12.26,10.61,12.08,65.0,18

In [69]:
chem_2=chem_2.assign(week=chem_2.start_c.dt.isocalendar().week)

In [64]:
#chem_21=chem_2.loc[:,["cpnr","visit","no2","Nox","formaldehyd","acetald","acetone","week"]]

In [74]:
chem_21=chem_2.round(2)

In [78]:
chem_21.to_excel("chem_polution.xlsx")

In [80]:
PM25.to_excel("PM25.xlsx")